@page
@model MyWebApp.pages.AutoModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="text-center">
    <h1 class="display-4">Введите данные для входа</h1>
    <div class="buttons_auto">
        <input class="login"  />
        <input type="password" class="password" />
        <button>Войти</button>
    </div>

</div>
