@page
@model MyWebApp.Hages.GenerCaloriesModel
@{
    ViewData["Title"] = "Генератор";
}

<h1 style="text-align:center">Укажите количество грамм каждого продукта</h1>
<div class="gener_calor">
    <table id="myTable">
        <thead>
            <tr>
                <th>Название продукта</th>
                <th>Количество грамм</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<form action="Refreg">
    <button>Назад</button>
</form>
<button onclick="addInput()">Далее</button>

<script>
    var data = JSON.parse(localStorage.getItem('listValues'));

    const table = document.getElementById('myTable');
    const tbody = table.querySelector('tbody');

    Object.entries(data).forEach((entry) => {
        // создаем строку таблицы
        const [key,value]=entry;
        const row = document.createElement('tr');

        // создаем ячейки и добавляем текст внутрь
        const nameCell = document.createElement('td');
        nameCell.textContent = value;
        const quantityCell = document.createElement('td');

        // создаем input и добавляем значение 300
        const quantityInput = document.createElement('input');
        quantityInput.type = 'number';
        quantityInput.value = 300;

        // добавляем input в ячейку и ячейки в строку
        quantityCell.appendChild(quantityInput);
        row.appendChild(nameCell);
        row.appendChild(quantityCell);

        // добавляем строку в таблицу
        tbody.appendChild(row);
    });
</script>