@page
@model MyWebApp.Hages.GenerCaloriesModel
@{
    ViewData["Title"] = "Генератор";
}
<h1 style="text-align:center">Укажите количество грамм каждого продукта</h1>
<div class="gener_calor">
    <div class="gener_col_first">
        <h3>Мой холодильник</h3>
        <select size="5" style="width:200px; height:300px">
            <option></option>
        </select>
        <button>Открыть холодильник</button>
    </div>
    <div class="gener_col_sec">
        <h3>Количество грамм</h3>
        <select size="4">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
            <option>125</option>
            <option>150</option>
            <option>175</option>
            <option>200</option>
        </select>
        <button>Добавить</button>
        <h3>Другие граммы</h3>
        <input />
        <button>Добавить</button>
    </div>
    <div class="gener_col_third">
        <h3>Мой холодильник</h3>
        <select size="5" style="width:200px; height:300px">
            <option></option>
        </select>
        
    </div>
</div>
<button>Далее</button>