@page
@model MyWebApp.Pages.GeneratorModel
@{
    ViewData["Title"] = "Сгенерированное меню";
}
<h1 style="text-align:center">Сгенерированное меню</h1>
<script>
    ////1. Подключаемся к локальному серверу веб-приложения
    //var url = 'http://localhost:5175/other/prod.json';
    ////2. Загружаем JSON-файл с помощью AJAX-запроса
    //var xhr = new XMLHttpRequest();
    //xhr.open('GET', url, true);
    //xhr.onload = function () {
    //    if (xhr.status === 200) {
    //        //3. Обрабатываем данные из JSON-файла и выводим в консоль
    //        var data = JSON.parse(xhr.responseText);
    //        console.log(data);
    //    } else {
    //        console.log('Ошибка загрузки данных: ' + xhr.statusText);
    //    }
    //};
    //xhr.send();
</script>