@page
@model MyWebApp.Hages.GenerCaloriesModel
@{
    ViewData["Title"] = "Генератор";
}

<h1 style="text-align:center">Укажите количество грамм каждого продукта</h1>
<div class="gener_calor">
    <table id="myTable">
        <thead>
            <tr>
                <th>Название продукта</th>
                <th>Количество грамм</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="buttons_reg_auto">
    <form action="Refreg">
        <button>Назад</button>
    </form>
    <button onclick="addInput()">Далее</button>
</div>

<script>
    import myJson from '~/other/prod.json' assert {type: 'json'};
    var data = JSON.parse(localStorage.getItem('listValues'));//получили данные с предыдущей страницы
    var table = document.getElementById("myTable");//получили ссылку на таблицу где будет выводится

</script>