@page
@model IndexModel
@{
    ViewData["Title"] = "Генератор";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в генератор меню правильного питания</h1>
    <div class="buttons_reg_auto">
        <form action="Form">
            <button>Сгенерировать меню</button>
        </form>
        <form action="Auto">
            <button>Авторизация</button>
        </form>
        <form action="Reg">
            <button>Регистрация</button>
        </form>
        
    </div>

</div>
