@page
@model IndexModel
@{
    ViewData["Title"] = "Генератор";
}

<div class="text-center">
    <h1 class="display-4">Hello, world! Это будущий перенос Генератора ПП на уровень ВЕБ</h1>
    <input class="inq" />
    <button>Click me!</button>
</div>
