@page
@model MyWebApp.Pages.RefregModel
@{
}
<h1 style="text-align:center">Добавьте продукты, которые есть у вас в холодильнике</h1>
<h4 style="text-align:center">Выберите из предложенных продуктов (желательно хотя бы по одному продукту из каждой категории)</h4>
<h6 style="text-align:center">Наведите на категорию</h6>
<div class="Refreg_menu">
    <div class="Refreg_menu_first">
        <div class="Ref_select">
            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Крупы</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Овсяные хлопья">Овсяные хлопья</label></li>
                    <li><label><input type="checkbox" name="item1" value="Овсянка">Овсянка</label></li>
                    <li><label><input type="checkbox" name="item1" value="Пшенка">Пшенка</label></li>
                    <li><label><input type="checkbox" name="item1" value="Гречка">Гречка</label></li>
                    <li><label><input type="checkbox" name="item1" value="Рис">Рис</label></li>
                    <li><label><input type="checkbox" name="item1" value="Рисовые хлопья">Рисовые хлопья</label></li>
                    <li><label><input type="checkbox" name="item1" value="Манка">Манка</label></li>
                    <li><label><input type="checkbox" name="item1" value="Перловка">Перловка</label></li>
                    <li><label><input type="checkbox" name="item1" value="Геркулес">Геркулес</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Фрукты</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Яблоко">Яблоко</label></li>
                    <li><label><input type="checkbox" name="item1" value="Банан">Банан</label></li>
                    <li><label><input type="checkbox" name="item1" value="Апельсин">Апельсин</label></li>
                    <li><label><input type="checkbox" name="item1" value="Груша">Груша</label></li>
                    <li><label><input type="checkbox" name="item1" value="Киви">Киви</label></li>
                    <li><label><input type="checkbox" name="item1" value="Мандарин">Мандарин</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Овощи</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Помидор">Помидор</label></li>
                    <li><label><input type="checkbox" name="item1" value="Огурец">Огурец</label></li>
                    <li><label><input type="checkbox" name="item1" value="Лук репчатый">Лук репчатый</label></li>
                    <li><label><input type="checkbox" name="item1" value="Перец">Перец</label></li>
                    <li><label><input type="checkbox" name="item1" value="Морковь">Морковь</label></li>
                    <li><label><input type="checkbox" name="item1" value="Капуста">Капуста</label></li>
                    <li><label><input type="checkbox" name="item1" value="Кабачок">Кабачок</label></li>
                    <li><label><input type="checkbox" name="item1" value="Цветная капуста">Цветная капуста</label></li>
                    <li><label><input type="checkbox" name="item1" value="Чеснок">Чеснок</label></li>
                    <li><label><input type="checkbox" name="item1" value="Свекла">Свекла</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Орехи</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Грецкий орех">Грецкий орех</label></li>
                    <li><label><input type="checkbox" name="item1" value="Фундук">Фундук</label></li>
                    <li><label><input type="checkbox" name="item1" value="Кешью">Кешью</label></li>
                    <li><label><input type="checkbox" name="item1" value="Арахис">Арахис</label></li>
                    <li><label><input type="checkbox" name="item1" value="Фисташки">Фисташки</label></li>
                    <li><label><input type="checkbox" name="item1" value="Миндаль">Миндаль</label></li>
                </ul>
            </div>
            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Хлеб и хлебцы</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Хлеб пшеничный">Хлеб пшеничный</label></li>
                    <li><label><input type="checkbox" name="item1" value="Хлеб ржаной">Хлеб ржаной</label></li>
                    <li><label><input type="checkbox" name="item1" value="Хлеб гречневый">Хлеб гречневый</label></li>
                    <li><label><input type="checkbox" name="item1" value="Хлеб зерновой">Хлеб зерновой</label></li>
                    <li><label><input type="checkbox" name="item1" value="Хлеб отрубной">Хлеб отрубной</label></li>
                    <li><label><input type="checkbox" name="item1" value="Хлеб бездрожжевой">Хлеб бездрожжевой</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Гарниры</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Картофель">Картофель</label></li>
                    <li><label><input type="checkbox" name="item1" value="Макароны">Макароны</label></li>
                    <li><label><input type="checkbox" name="item1" value="Булгур">Булгур</label></li>
                    <li><label><input type="checkbox" name="item1" value="Горох">Горох</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Мясо или рыба</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Курица">Курица</label></li>
                    <li><label><input type="checkbox" name="item1" value="Рыба">Рыба</label></li>
                    <li><label><input type="checkbox" name="item1" value="Говядина">Говядина</label></li>
                    <li><label><input type="checkbox" name="item1" value="Свинина">Свинина</label></li>
                    <li><label><input type="checkbox" name="item1" value="Баранина">Баранина</label></li>
                </ul>
            </div>

            <div class="dropdown-checkbox form-group">
                <h4 class="label_title">Молочные продукты</h4>
                <ul>
                    <li><label><input type="checkbox" name="item1" value="Творог">Творог</label></li>
                    <li><label><input type="checkbox" name="item1" value="Йогурт">Йогурт</label></li>
                    <li><label><input type="checkbox" name="item1" value="Кефир">Кефир</label></li>
                    <li><label><input type="checkbox" name="item1" value="Ряженка">Ряженка</label></li>
                </ul>
            </div>

        </div>
        <button type="button" onclick="addToDoList()" class="but_add_prod">Добавить в холодильник</button>

    </div>
    <hr />
    <h4>Добавьте свои продукты</h4>
    <hr />
    <div class="Refreg_menu_sec">
        <div>
            <h4>Название продукта</h4>
            <input id="addProduct" type="text" />
            <button type="button" onclick="addProdToDoList()">Добавить</button>
        </div>
        <div>
            <h4>Мой холодильник</h4>
            <div class="Refreg_menu_second">
                <select id="to-do-list" size="5" style="width:200px; height:300px">

                </select>
            </div>
            <button onclick="removeAll()">Удалить содержимое холодильника</button>
        </div>
    </div>
</div>
<div class="buttons_reg_auto">
    <form action="Form">
        <button>Назад</button>
    </form>
    <form action="GenerCalories">
        <button onclick="addToListNext()">Далее</button>
    </form>
</div>

<script>
    function addToDoList() {
        var checkBoxes = document.querySelectorAll('input[type="checkbox"]:checked'); // Получаем все выбранные checkbox
        var toDoList = document.getElementById("to-do-list"); // Получаем список дел, куда будем добавлять выбранные пункты

        for (var i = 0; i < checkBoxes.length; i++) {
            var listItem = document.createElement("option"); // Создаем новый пункт списка
            listItem.innerText = checkBoxes[i].value; // Добавляем в пункт текст выбранного пункта из checkbox
            toDoList.appendChild(listItem); // Добавляем пункт в список дел
        }
    }
    function addProdToDoList() {
        var checkBoxes = document.getElementById('addProduct'); // Получаем все выбранные checkbox
        var toDoList = document.getElementById("to-do-list"); // Получаем список дел, куда будем добавлять выбранные пункты
        var listItem = document.createElement("option"); // Создаем новый пункт списка
        listItem.innerText = checkBoxes.value; // Добавляем в пункт текст выбранного пункта из checkbox
        toDoList.appendChild(listItem); // Добавляем пункт в список дел
    }

    function removeAll() {
        var myList = document.getElementById("to-do-list");
        myList.innerHTML = "";
    }

    function addToListNext() {
        // Получаем список
        const list = document.getElementById('to-do-list');

        // Получаем элементы списка
        const items = list.querySelectorAll('option');

        // Создаем массив со значениями элементов списка
        const values = [];
        for (let i = 0; i < items.length; i++) {
            values.push(items[i].innerText);
            
        }

        // Сохраняем массив в localStorage
        localStorage.setItem('listValues', JSON.stringify(values));
    }

</script>