@page
@model MyWebApp.pages.RegModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="text-center">
    <h1 class="display-4">Регистрация нового пользователя</h1>
    <div class="main">
        <div class="field">
            <label for="n">Имя</label>
            <input type="text" id="n" />
        </div>
        <div class="field">
            <label for="ln">Фамилия</label>
            <input type="text" id="ln" />
        </div>
        <div class="field">
            <label for="a">Место жительства</label>
            <input type="text" id="a" />
        </div>
    </div>

</div>
http запрос формата json bиз поля